html,body,canvas{
	margin: 0; height: 100%; overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	-o-user-select: none; /* Non-prefixed version, currently
	user-select: none; /* Non-prefixed version, currently  supported by Chrome, Opera and Firefox */
}


.none-margin-padding{
	margin: 0;
	padding: 0;
}

.content{
	display: none;
}

.active{
	display: block;
}


.spin-overlay {
    width: 80px;
    height: 80px;
    line-height: 80px;
	text-align: center;
	font-size: 80px;
	margin: auto;
	/*padding: 50%;*/
	margin-top: calc(40vh - 80px);
	z-index: 9999;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/*.spin-overlay i{
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}
*/

.popup-window{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2001;
	padding: 8vh 10vw 0vh 10vw;
	background: rgba(0,0,0,0.2);
}

.popup-window-opacity{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2001;
	/*padding: 8vh 10vw 0vh 10vw;*/
	background: white;
	opacity: 0.7;
}

.popup-window-content{
	width: 80vw; 
	/*height: 80vh;*/
	border: 5px solid #343a40; 
	border-radius: 10px;
	background: #F1E4E1;
	padding-bottom: 10px;
}

.window-modify-grid{
	width: 100%;
	height: 58vh;
}


.popup-modal{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2002;
	padding: 8vh 10vw 8vh 10vw;
	background: rgba(0,0,0,0.2);
}

#popup-window-hop-path{
	display: none;
	position: absolute;
	width: 70vw; 
	height: 90vh;
	margin: 5vh 15vw 5vh 15vw;
	border: 5px solid #007bff;
	border-radius: 10px;
	background: #F1E4E1;
	z-index: 2002;
}

#popup-window-import-input{
	display: none;
	position: absolute;
	width: 50vw; 
	height: 40vh;
	margin: 30vh 25vw 30vh 25vw;
	border: 5px solid #007bff;
	border-radius: 10px;
	background: #F1E4E1;
	z-index: 2002;
}

#popup-window-hierarchy{
	display: none;
	position: absolute;
	width: 90vw; 
	height: 90vh;
	margin: 5vh 5vw 5vh 5vw;
	border: 5px solid #007bff;
	border-radius: 10px;
	background: #F1E4E1;
	z-index: 2002;
}

/*==============================Main Network Map=====================================================*/
.networkmap-main-col{
	position: absolute;
	display: inline-block;
	height: 100vh;
}


#networkmap-main-container-left{
	width: 80vw;
	height: 100vh;
}


#networkmap-main-container-right{
	right: 0px;
	width: 20vw;
	height: 100vh;
}

#network-map-canvas{
	width: 100%;
    height: 100%;
}
/*==============================End of Main Network Map============================================*/

.networkmap-insight{
	width: 100%;
	height: calc(100vh - 60px);
}

#urls-grid-container{
	width: 100%;
    height: 100%;
}

#hoppath-canvas{
	width: 100%;
	height: 100%;
}

.fancytree-grid-container{
	width: 100%;
	height: 100%;
	/*overflow-y: auto;*/
}

#domain-tree{
	width: 100%;
    height: 100%;
}
#hierachy-tree{
	width: 100%;
    height: 100%;
}

div#tree {
	width: 90%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid 1px solid rgba(0,0,0,.12);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

