html,body{
	margin: 0; height: 100%; overflow: hidden;
}

.none-margin-padding{
	margin: 0;
	padding: 0;
}

.content{
	display: none;
}

.active{
	display: block;
}


.popup-window{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2001;
	padding: 8vh 10vw 8vh 10vw;
	background: rgba(0,0,0,0.2);
}

.popup-window-content{
	width: 80vw; 
	height: 80vh; 
	border: 5px solid #007bff; 
	border-radius: 10px;
}

.window-modify-nav{
	width: 100%;
	height: 5vh;
}

.window-modify-grid{
	width: 100%;
	height: 58vh;
}

/*==============================Main Network Map=====================================================*/
.networkmap-main-col{
	position: absolute;
	display: inline-block;
	height: 100vh;
}


#networkmap-main-container-left{
	width: 80vw;
	height: 100vh;
}


#networkmap-main-container-right{
	right: 0px;
	width: 20vw;
	height: 100vh;
}


#networkmap-side-container{
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: 100%;
}

#network-map-canvas{
	width: 100%;
    height: 100%;
}
/*==============================End of Main Network Map============================================*/

#hoppath-canvas, #urls-grid-container{
	width: 100%;
    height: 100%;
}

.fancytree-grid-container{
	width: 100%;
	height: 100%; 
	/*overflow-y: auto;*/
}

#domain-tree{
	width: 100%;
    height: 100%;
}
#hierachy-tree{
	width: 100%;
    height: 100%;
}

div#tree {
	width: 90%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid 1px solid rgba(0,0,0,.12);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

